<h1>Welcome to store selling MyStuff </h1>
<% @sale_items.each do |item| %>
  <div class="entry" style="color:blue;font-size:2em">
    <p><%= item.name %>
      <span class="price" style="color:green"><%= number_to_currency item.price %></span>
	  <span class="cat" style="color:green"><%= item.item_type %></span>
	 </p>
  </div>
<% end %>